@font-face {
  font-family: 'Effra';
  src: url('https://raw.githubusercontent.com/cperegrine/smokemart-font/main/Effra_W_Bd.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}







